<% include ../header %>

  <section>
    <h1>Search All Twitter</h1>

    <form method="get" action="stalker/search">
      <div class="form-group">
        <input name="search" type="text" class="form-control">
      </div>
      <button type="button" class="btn btn-success">Search</button>
    </form>
  </section>

<% include ../footer %>
