<section id="dashboard-menu-trigger">
  <a data-toggle="modal" data-target="#dashboard-menu">
    <img class="logo" src="/images/logo_v1.png" />
  </a>
</section>
<section class="modal fade" id="dashboard-menu" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="wrapper-outer"><div class="wrapper-inner">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <ul class="menu-list">
        <li class="type-1">
          <a href="/hunt">HUNT VICTIM</a>
        </li>
        <li class="type-1">
          <a href="/prey">PREY LIST</a>
        </li>
        <li class="type-2">
          <a href="/signout">SLEEP</a>
        </li>
      </ul>
    </div>
  </div>
  </div></div>
</section>
