<% include master_header %>
<% include component_menu %>
<section id="dashboard-content" class="container">
  <div class="row"><div class="col-sm-6 col-sm-offset-3">
    <form id="form-search" action="/search" method="GET">
      <input id="txt-search-bar" name="q" type="text" class="form-control input-lg" placeholder="type the victim name" autocomplete="off">
    </form>
    <ul id="hunt-list">
      <% for (var i = 0; i < users.length; i++) { %>
      <li>
        <img class="photo" src="<%= users[i].profile_image_url.replace(/_normal/gi,"") %>" />
        <div class="detail">
          <h3 class="name"><%= users[i].screen_name %></h3>
          <span class="follower"><%= users[i].followers_count %> followers</span>
        </div>
        <a href="" class="mark-trigger">MARK</a>
      </li>
      <% } %>
    </ul>
  </div></div>
</section>
<% include master_footer %>
