<% include master_header %>
<section id="lyt-signin" class="default-wrapper">
  <div class="wrapper-outer"><div class="wrapper-inner">
    <div class="container">
      <div class="row"><div class="col-sm-4 col-sm-offset-4">
        <form action="/template/signup" method="POST">
          <h4>Psst ... Count me in ...</h4>
          <div class="form-group">
            <input type="text" class="form-control" id="txt-username" placeholder="Username" autocomplete="off">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="txt-password" placeholder="Password" autocomplete="off">
          </div>
          <button id="btn-submit" type="submit" class="btn btn-block btn-sfox">Submit</button>
        </form>
        <div class="misc-link">
          <a href="/template">Back to den</a>
        </div>
      </div></div>
    </div>
  </div></div>
  <img class="logo" src="/images/logo_vhalf.png" />
</section>
<% include master_footer %>
