<% include master_header %>
<section id="lyt-splashscreen" class="default-wrapper">
  <div class="wrapper-outer">
    <div class="wrapper-inner">
      <img class="logo" src="images/logo_v1.png" />
    </div>
  </div>
</section>
<% include master_footer %>
